* {
  padding: 0%;
  margin: 0%;
}

body {
  font-style: normal;
  font-family: 'Open Sans', 'Roboto', aril, 'Noto Sans TC', '微軟正黑體', sans-serif;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*::before,
::after {
  box-sizing: inherit;
}

ol,
ul,
li {
  list-style: none;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}