@media (max-width: 767.999px) {
  .container,
  .container-fluid {
    width: 100%;
    padding: 0 auto;
    margin: 0 auto;
  }

  .col-1 {
    width: calc(100% / 12 * 1);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: calc(100% / 12 * 12);
  }

  .intro {
    background-color: #313131;
    height: auto;
  }

  h5 {
    color: #C0C0C0;
    padding-top: 10px;
    padding-left: 30px;
    font-size: 1rem;
  }

  h5::before {
    content: "";
    display: inline-block;
    background-color: #C0C0C0;
    height: 20px;
    width: 20px;
  }

  article img {
    width: 50%;
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  article .me {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  article p {
    color: #C0C0C0;
    margin: 0 20px;
    letter-spacing: 1.5px;
    font-size: 0.9rem;
  }

  .skill {
    background-color: rgb(0, 0, 0);
    margin-right: auto;
    margin-left: auto;
    display: float;
  }

  .left1,
  .left2 {
    float: left;
    margin: 20px 0;
  }

  p.float-name {
    writing-mode: vertical-lr;
    float: left;
    background-color: rgb(24, 82, 79);
    padding: 20px 10px;
    font-weight: bold;
  }

  div.float-note {
    float: left;
    background-color: rgb(71, 30, 71);
    width: 250px;
  }

  .contact2 {
    color: rgb(128, 58, 58);
  }

  .contact1,
  .contact3 {
    visibility: hidden;
  }

  footer .end,
  footer a:visited {
    background: black;
    color: #C0C0C0;
    text-align: center;
    height: 220px;
    font-size: 0.9rem;
  }

  footer .endlogo {
    padding-top: 35px;
    width: 50px;
    opacity: 0.8;
  }

  footer a:hover,
  footer a:visited {
    color: #ffffff;
  }
}